---
layout: default
title: "Home"
---

<div class="page">
  <img src = 'assets/headshot.jpg' width="18%" style="float:right; margin:5px; padding:0;border-radius: 10px;"></img>
  <h1>Hello!</h1>
  <p class="lead">I'm Nancy and I love solving business problems with data. How can we transform organizations using analytically rigorous methods? I'd love to share some of my enthusiasm with you!</p>
  <p>I am currently an MBA candidate at MIT Sloan, where I am deeping my technical skills and my understanding of organizational processes. Prior to school, I spent five years in data functions on various supply chain teams at Amazon. I have a bachelor's in Economics from Yale.</p>
  <p>In my free time, I enjoy painting, powerlifting, and playing video games.</p>
</div>

<div class="page">
<h4> Projects </h4>
{% for item in site.projects %}
  {% unless site.item.exclude %}
    <a href="{{ item.url }}">
      {{ item.title }}</a>
    <br/>
  {% endunless %}
{% endfor %}
</div>

<div class="page">
<h4> Blog posts </h4>
{% for post in site.posts %}
  <a href="{{ post.url }}">
    {{ post.title }}</a><small> · {{ post.date | date_to_string }}</small>
  <br/>
{% endfor %}
</div>

<div class="page">
<h4> Living pages </h4>
{% for page in site.pages %}
  <a href="{{ page.url }}">
    {{ page.title }}</a>
  <br/>
{% endfor %}
</div>

<div class="page">
<h4> Elsewhere </h4>
  <a href="https://www.linkedin.com/in/nancycxia/" target="_blank">LinkedIn</a><br/>
  <a href="https://github.com/na-che-x/" target="_blank">GitHub</a> <br/>
  <a href="https://www.percepaints.com/" target="_blank">Perce Paints</a><small> · My art website</small><br/>
  nancy xia [at] mit dot edu <br/>
</div>
