---
layout: default
title: "Home"
---

<div class="page">
  <h1>Hello!</h1>
  <p class="lead">I'm Nancy and I love playing with data. I'd love to share some of my enthusiasm with you!</p>
  <p>I am currently an MBA candidate at MIT Sloan. Prior, I did data analysis and engineering on various supply chain teams at Amazon.</p>
  <p>In my free time, I enjoy <b>p</b>ainting, <b>p</b>rintmaking, and <b>p</b>laying video games. I used to <b>p</b>owerlift, too!</p>
</div>

<div class="page">
<h4> Blog posts </h4>
{% for post in site.posts %}
  <a href="{{ post.url }}">
    {{ post.title }}</a><small> · {{ post.date | date_to_string }}</small>
  <br/>
{% endfor %}
</div>

<div class="page">
<h4> Living pages </h4>
{% for page in site.pages %}
  <a href="{{ page.url }}">
    {{ page.title }}</a>
  <br/>
{% endfor %}
</div>

<div class="page">
<h4> Elsewhere </h4>
  <a href="https://www.linkedin.com/in/nancycxia/" target="_blank">LinkedIn</a><br/>
  <!-- <a href="https://www.percepaints.com/" target="_blank">Perce Paints</a><small> · My art website</small> -->
</div>
